<h2>Help</h2>

<p>
  Found a bug? Something off?
</p>

<p>
  Santa can make mistakes sometimes.
</p>

<p>
  Feel free to get in touch by email: me AT emillon DOT org (please add "Secret
  Santa" in the email subject)
</p>
