<h2>Help</h2>

<p>
  Found a bug? Something off?
</p>

<p>
  Santa can make mistakes sometimes.
</p>

<p>
  Feel free to get in touch by email: me AT emillon DOT org (please add "Secret
  Santa" in the email subject)
</p>

<p>
If you can read code, you may be interested in
<a href="https://github.com/emillon/secret-santa">the source of this website on
Github</a>.
</p>
