<div class="center jumbotron">
  <h1>Secret Santa creator</h1>

  <h2>
    Organize "Secret Santa"-type events with your family or friends.
  </h2>

  <%= link_to "Start now!", new_event_path, class: "btn btn-lg btn-primary" %>
  No subscription required.
</div>
