<li class="control-group nested-fields">
  <div class="controls">
    <%= f.select :one_id, @event.select_participants %>
    -
    <%= f.select :other_id, @event.select_participants %>
  
    <%= link_to_remove_association "remove", f %>
  </div>
</li>
